// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


// ---------------------------- MIXINS

/* mixins generales */
@mixin txt-hide {
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}

/* mixins botones */
@mixin btn {
    border-radius: 0;
    border: 0;
}

/* mixins tabs */


/* mixins media queries */
@mixin breakpoint($point) {
    @if $point == xl {
        @media (max-width: 1365px) { @content; }
    }
    @if $point == lrg {
        @media (max-width: 1199px) { @content; }
    }
    @else if $point == md {
        @media (max-width: 991px) { @content; }
    }
    @else if $point == sm {
        @media (max-width: 767px)  { @content; }
    }
    @else if $point == xs {
        @media (max-width: 550px)  { @content; }
    }
    @else if $point == xxs {
        @media (max-width: 400px)  { @content; }
    }
}


// ---------------------------- VARIABLES




// ---------------------------- GENERAL
*, *:after, *:before {
    -moz-box-sizing: border-box; 
}
.hidden- {
    display: none;
}
/* font type variables */
$txt-general: 'Karla', 'sans-serif';

/* --- TOP-BAR --- */
.top-bar-zona-k {
    background: #0b1a21;
    color: #fff;
    font-family: $txt-general;
    text-transform: uppercase;
    font-size: 0.786em;
    letter-spacing: 0.225em;
    border: solid 1px #fff;
    a {
        color: #fff;
    }
    
    .wrapper-select-restaurantes {
        padding-right: 0;
        @include breakpoint(sm) { 
            display: none;
        }
        .logo-zona-k {
            padding: 10px 0;
            width: 80px;
            float: left;
        }
        .select-restaurantes {
            float: left;
            padding: 10px 15px;
            border-right: solid 1px #fff;
        }
        // ajuste dropdown menu full-width - bootstrap override
    .dropdown-menu {
        background: #0b1a21;
        font-size: 1em;
        position: fixed !important;
        top: 35px;
        width: 100%;
        border-top: solid 1px #353535;
        border-radius: 0;
        border-bottom: solid 1px #353535;
        padding-bottom: 20px;
        h1 {
            font-family: $txt-general;
            font-size: 1.8ems;
            text-align: center;
        }
        h2 {
            font-family: $txt-general;
            font-size: 1em;
            text-transform: none;
            text-align: center;
            margin-bottom: 15px;
        }
        li {
            border-bottom: solid 1px #353535;
            a {
                padding: 15px 0;
                color: #fff;
                display: inline-block;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .info-drop {
            @include breakpoint(md) { 
                text-align: center;            }
            li {
                &:last-child {
                    border: 0;
                }
            }
        }
        .btn {
            font-size: 1em;
        }
        ul {
            padding-left: 0;
            list-style-type: none;
        }
        .btn-blanco {
            background: #fff;
            color: #0b1a21;
            width: 100%;
            padding: 15px 0;
            text-align: center;
            display: block;
            margin-top: 10px;
        }
    }
    }


    .wrapper-select-reservas {
        padding: 10px 15px;
        text-align: right;
        border-right: dashed 1px #fff;
        @include breakpoint(xs) { 
            padding-left: 5px;
            padding-right: 5px;
        }
        @include breakpoint(xxs) { 
            padding-left: 5px;
            padding-right: 5px;
            padding-bottom: 5px;
        }
        .select-restaurantes {
            padding: 0;
        }
        .dropdown-menu {
            left: auto;
            right: 0;
            li {
                &:last-child {
                    border: 0;
                }
            }
            @include breakpoint(xs) { 
                left: 0;
            }
        }
        .dropdown {
            @include breakpoint(md) { 
                display: none;
            }
            &.mobile {
                display: none;
                @include breakpoint(md) { 
                    display: block;
                    text-align: center;
                }
            }
        }


    }
    .wrapper-link-daportare {
        padding: 10px 0;
        position: relative;
        text-align: right;
        @include breakpoint(xs) { 
            text-align: center;
        }
        span {
            color: #1a1919;
            padding-right: 5px;
            @include breakpoint(lrg) {
                padding-right: 0;
                display: block;
                padding-left: 10px;
                text-align: left;
            }
            @include breakpoint(xs) {
                text-align: center;
            }
        }
        a {
            &:hover {
                img {
                    opacity: 0.8;
                }
            }
        }
        .wrapper-img {
            background: #fff;
            border-left: solid 1px #000;
            border-bottom: solid 1px #000;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 5;
            text-align: center;
            padding: 5px 10px;
            @include breakpoint(xs) { 
                display: none;
            }
        }
        .mobile {
            display: none;
            @include breakpoint(xs) { 
                display: inline-block;
                text-decoration: underline;
                color: #fff;
            }
        }


    }
}


/* grid fotos masonry */
#grid {
    margin-bottom: 40px;
    .grid-sizer {
        width: 24%;
        @include breakpoint(lrg) { 
            width: 22%;
        }
        @include breakpoint(md) { 
            width: 30%;
        }
        @include breakpoint(xs) { 
            width: 45%;
        }
        @include breakpoint(xxs) { 
            width: 92%;
        }
    }
    .item {
        width: 24%;
        margin-bottom: 15px;
        position: relative;
        @include breakpoint(lrg) { 
            width: 22%;
        }
        @include breakpoint(md) { 
            width: 30%;
        }
        @include breakpoint(xs) { 
            width: 45%;
        }
        @include breakpoint(xxs) { 
            width: 92%;
        }
        .icon-ampliar {
            z-index: -5;
            width: 40px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -20px;
            margin-top: -20px;
            img {
                width: auto;
            }
        }
    }
    img {
        width: 100%;
    }
    .more {
        text-align: center;
        width: 100%;
        margin: 40px 0;
        height: 30px;
        left: 0 !important;
    }
    .icon {
        img {
            width: auto;
        }
        
    }
    .txt {
        margin-top: 5px;
        display: block;
    }
    .wrapper-item {
        &:hover {
            .item {
                .icon-ampliar {
                    z-index: 5;
                    img {
                        opacity: 1;
                    }
                }
                img {
                    opacity: 0.3;
                }
            }
        }
            
    }
}

/* --- FOOTER --- */
.main-footer {

    @include breakpoint(sm) { 
        text-align: center;
    }
    .zonak {
        @include breakpoint(sm) { 
            padding-top: 25px;
        }
        p {
            font-size: 1.286em;
        }
        a {
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: underline;
            letter-spacing: 0.225em;
        }
    }
    .links {
        padding-top: 10px;
        @include breakpoint(sm) { 
            padding-top: 25px;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            text-align: right;
            @include breakpoint(sm) { 
                text-align: center;
            }
        }
        li {
            padding-bottom: 5px;
        }
    }

}




// ---------------------------- AMERICANA

.americana {

    /* --- GENERAL --- */
    /* menú-principal */
    .main-menu {
        padding: 0 30px;
        .icon {
            margin-right: 15px;

        }
        .navbar-collapse {
            @include breakpoint(md) { 
                text-align: center; 
            }
            li {
                &.mobile {
                    display: none;
                    @include breakpoint(md) { 
                        display: inline-block; 
                        border-bottom: 0; 
                    }
                    a {
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
    .nav > li > a:hover {
        background-color: transparent;
    }
    .nav > li > a {
        padding: 20px 15px;
    }
    .navbar-brand {
        height: auto;
        padding: 5px 15px;
    }
    .navbar-toggle {
        margin-top: 25px;
        .icon-bar {
            width: 30px;
            height: 3px;        }
    }


    /* footer */
    .main-footer {
        padding: 10px 0;
        .credits {
            text-align: center;
            padding-top: 10px;
            border-top: solid 1px #cccccc;
            margin-top: 5px;
        }
        .logo {
            p {
                font-size: 0.857em;
                padding-top: 5px;
                color: #666;
            }
        }
        .zonak {
            text-align: center;
            padding-top: 20px;
        }
    }


    /* internas */
    .main-content {
        margin-top: 125px;
    }

    

    /* --- HOME --- */
    /* slider-principal */
    .slider-principal {
        padding: 0;
        @include breakpoint(xs) { 
            margin-top: 50px;
        }
        @include breakpoint(xxs) { 
            display: none;
        }
        .carousel {
            img {
                width: 100%;
            }
        }
        .carousel-control {
            img {
                width: auto;
                position: absolute;
                top: 50%;
            }
        }
    }

    /* banner-daportare */
    .banner-daportare {
        margin: 10px;
        text-align: center;
        color: #fff;
        @include breakpoint(xxs) { 
            margin-top: 150px;
        }
        .logo {
            padding: 20px 15px;
        }
        a {
            text-decoration: underline;
        }
    }


    /* quotes */
    .quotes {
        padding: 35px 0;
        text-align: center;
        .icon {
            display: block;
        }
    }


    /* mapa */
    .mapa {
        position: relative;
        border-top: solid 3px;
        .wrapper-mapa {
            height: 300px;
            z-index: 0;
            background-color: #eaeaea;
        }
        .locaciones {
            text-align: center;
            padding: 15px 0;
        }

    }


    /* --- RESERVAS --- */
    .reservas {
        padding: 20px;
        h3 {
            margin-bottom: 5px;
        }
        .txt-caption {
            display: block;
        }
        .form {
            textarea {
                min-height: 135px;
                resize: none;
            }
            .btn {
                width: 100%;
                margin: 10px 0;
            }
            .wrapper-captcha {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-respuesta-captcha {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-tipo {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-fecha {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-jornada {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-hora {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-nombres {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-apellidos {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-invitados {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .checkbox {
                margin: 20px 0;
                input {
                    height: auto;
                }
            }
        }
        .info {
            text-align: center;
            @include breakpoint(sm) { 
                padding-top: 30px;
            }
        }
        .intro {
            text-align: left;
        }
        .info-pedidos {
            margin-top: 10px;
        }

        .links {
            text-align: right;
            padding: 0;
            @include breakpoint(md) { 
                text-align: center;
            }
        }
        .logo {
            text-align: left;
            padding-left: 10px;
            @include breakpoint(md) { 
                text-align: center;
                padding-top: 5px;
            }
        }
        .info-reservas {
            margin-top: 40px;
        }
        .info-eventos {
            margin-top: 40px;
        }
        .info-servicio-cliente {
            margin-top: 40px;
        }
        .mensaje {
            margin-top: 40px;
        }

    }

     /* --- CONTACTO --- */
    .contacto {
        padding: 20px;
        h3 {
            margin-bottom: 5px;
        }
        .txt-caption {
            display: block;
        }
        .form {
            textarea {
                min-height: 135px;
                resize: none;
            }
            .btn {
                width: 100%;
                margin: 10px 0;
            }
            .wrapper-captcha {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-respuesta-captcha {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-tipo {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-fecha {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-jornada {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-telefono {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-ciudad {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-hora {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-nombres {
                padding-left: 0;
                @include breakpoint(sm) { 
                    padding-right: 0;
                }
            }
            .wrapper-apellidos {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .wrapper-invitados {
                padding-right: 0;
                @include breakpoint(sm) { 
                    padding-left: 0;
                }
            }
            .checkbox {
                margin: 20px 0;
                input {
                    height: auto;
                }
            }
        }
        .info {
            text-align: center;
            @include breakpoint(sm) { 
                padding-top: 30px;
            }
        }
        .intro {
            text-align: left;
        }
        .info-pedidos {
            margin-top: 10px;
        }

        .links {
            text-align: right;
            padding: 0;
            @include breakpoint(md) { 
                text-align: center;
            }
        }
        .logo {
            text-align: left;
            padding-left: 10px;
            @include breakpoint(md) { 
                text-align: center;
                padding-top: 5px;
            }
        }
        .info-reservas {
            margin-top: 40px;
        }
        .info-eventos {
            margin-top: 40px;
        }
        .info-servicio-cliente {
            margin-top: 40px;
        }
        .mensaje {
            margin-top: 40px;
        }

    }


    /* --- MENÚ --- */
    .menu {
        .categories-menu {
            ul {
                list-style-type: none;
                padding-left: 0;
                overflow: hidden;
            }
            li {
                float: left;
                margin-right: 3px;
            }
            a {
                padding: 10px;
                display: inline-block;
                margin-bottom: 3px;
                text-transform: uppercase; 
            }
            .line-break {
                display: block;
            }
            .mCustomScrollBox {
                margin-bottom: 30px;
            }
            .mCSB_scrollTools {
                a {
                    background-color: transparent;
                }
            }
            
            
        }
        .main-content-menu {
            .item {
                padding: 10px 15px;
            }
            .name {  
                margin-bottom: 0;
            }
            .info {
                margin-bottom: 0;
            }
            .price {
                line-height: 2.3em;
            }
        }
        .image-menu {
            padding: 0;
            img {
                width: 100%;
            }
        }
        .banner-daportare {
            margin: 10px 0;
            padding: 25px 15px;
            .logo {
                padding-top: 5px;
                padding-bottom: 0;
            }
            .txt {
                padding-top: 5px;
            }
        }




    }

    




}
















